/* Theme Nike */
:root .nike-theme {
    /*--theme-color-accent: #FF6600;*/
    --theme-color-accent: #111111;
    --theme-color-light: #ffffff;
    --theme-color-gray: #E5E5E5;
    --theme-color-dark: #111111;
    --theme-font-family: 'helvetica neue', 'helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  /*color: var(--theme-color-accent);*/
}

body {
  /*font-family: var(--theme-font-family);*/
}

