/* Theme ServiceNow */
:root .servicenow-theme {
  --theme-color-accent: #62d84e;
  --theme-color-light: #ffffff;
  --theme-color-gray: #e5e5e5;
  --theme-color-dark: #032d42;
  --theme-font-family: "Gilroy", Helvetica, sans-serif;
  --theme-font-family-alt: "Gilroy", Helvetica, sans-serif;
  --body-font-size-xxs: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--theme-font-family-alt);
}

header .demo-menu {
  padding: 0 5px;
  font-weight: 200;  
  font-size: 14px;
}

body {
  font-family: var(--theme-font-family);
}

.servicenow-theme .headline h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  color: white;
}

.servicenow-theme .marquee .text {
  color: white;
}

@media screen and (max-width: 1400px) {
  .servicenow-theme .marquee .text {
    color: black;
  }
}

.servicenow-theme .con-button {
  font-size: 16px;
  line-height: 24px;
  padding: 17px 46px;
  width: auto;
  border-radius: 8px;
  align-items: center;
}

.servicenow-theme .con-button.accent {
  color: black;
}

.servicenow-theme .z-pattern .con-button.accent {
  color: black;
  background-color: white;
}

.servicenow-theme .cards {
  color: black;
}

.servicenow-theme .headline {
  background-color: transparent;
  border-color: white;
  color: white;
}

.servicenow-theme .headline .con-button.accent {
  background-color: transparent;
  border-color: white;
  color: white;
}

.servicenow-theme .con-button.accent:hover,
.servicenow-theme .z-pattern .con-button.accent:hover,
.servicenow-theme .headline .con-button.accent:hover {
  background-color: var(--theme-color-accent);
  text-decoration: none;
}
